.dash-main {
    display: flex;
    justify-content: space-evenly;
    margin: 0.4em;
    .dash-right{
        display: flex; 
        flex-direction: column;
        align-items: flex-end;
        .stat-dropdown {
            display: flex;
            margin-left: auto;
            align-items: center;
            .input-div {
                position: relative;
                margin: 0.5em;
                .input-desc {
                    color: $font-color-2;
                    font-size: 10px;
                    font-weight: bold;
                    position: absolute;
                    top: -17px;
                    left: 5px;
                }
            }
            button {
                height: 2em;
                width: 6em;
                background-color: $secondary;
                color: $bg-color;
                padding: 0.2em 0.4em;
            }
        }
        .stat-container {
            width: 24em;
            background-color: #282a33;
            padding: 0.5em 1em;
            border-radius: 10px;
            position: relative;
            box-shadow: 0 0 10px -5px black;
            margin: 0.4em;
            margin-top: 1em;
            .stat-header {
                display: flex;
                flex-direction: column;
                .stat-text {
                    p {
                        color: $font-color-2;
                        font-weight: 500;
                        margin-bottom: 0;
                        font-size: 0.8em;
                    }
                    h4 {
                        color: $font-color;
                        font-size: 1.8em;
                    }
                    h6 {
                        color: $secondary;
                        opacity: 0.4;
                    }
                }
            }     
        }
    }
    
    .dash-left {
        display:flex; 
        flex-direction: column;
        // flex-wrap: wrap;
        margin-top: 1.2em;
        .stat-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 24em;
            background-color: $frame-color;
            padding: 0.5em 1em;
            border-radius: $border-radius;
            position: relative;
            box-shadow: 0 0 10px -5px black;
            margin: 0.4em;
            .stat-header {
                display: flex;
                flex-direction: column;
                .stat-text {
                    p {
                        color: $font-color-2;
                        font-weight: 500;
                        margin-bottom: 0;
                        font-size: 0.8em;
                    }
                    h4 {
                        color: $font-color;
                        font-size: 1.8em;
                    }
                    h6 {
                        color: $secondary;
                        opacity: 0.4;
                    }
                }
            }     
        }
    }
    
}

@media screen and (max-width: 960px) {
    .dash-main .graphs {
        flex-direction: row;
    }
}
