// Colors
$primary: #8e8e8e;
$secondary: #ADFF28;

$bg-color: #1b1c21;
$frame-color: #282a33; 
$frame-border:#696a73; 
$nav-color: #35363e;

$font-color: #adaec1;
$font-color-2: #9c9c9c;
$font-color-dark: #121316;

// Border
$border-radius: 10px;

// Fonts
$font-family: 'Open Sans', sans-serif;