# BACKEND files ignored
backend/node_modules
# backend/package-lock.json

# CLI files ignored
cli/node_modules

# FRONTEND files ingored
frontend/bundles/node_modules 
# frontend/bundles/package-lock.json

backend/connect.js

.env
