<nav>
    <a class = "imagelink" href="/">
        <img src="images/logo_light.png" alt="logo">
    </a>
    <ul>
        <li>
            <a href="/" id="link">Statistics</a>
        </li>
        <li>
            <a href="/passesperstation" id="link">Passes Per Station</a>
        </li>
        <li>
            <a href="/passesanalysis" id="link">Passes Analysis</a>
        </li>
        <li>
            <a href="/chargesby" id="link">Charges By Other</a>
        </li>
    </ul>
    <hr> 
    <ul>
        <li> 
            <img class="logoimg" src="images/settings.png" alt="Settings Logo"/>
            <a href= "#"> Settings</a>
        </li>
        <li>
            <img class="logoimg" src="images/logout.png" alt="Log out Logo"/>
            <a href = "#">Log out</a>
        </li>
    </ul>
    <div class="user_id ">
        <img src="images/user.png" alt="Admin Foto">
        Admin
    </div>
</nav>