<nav>
    <a href="/">
        <img src="images/logo_light.png" href="/" alt="logo">
    </a>
    <ul class="nav-items">
        <li>
            <a href="/">Dashboard</a>
        </li>
        <li>
            <a href="/passesperstation">Passes Per Station</a>
        </li>
        <li>
            <a href="/passesanalysis">Passes Analysis</a>
        </li>
        <li>
            <a href="/chargesby">Charges By Other</a>
        </li>
    </ul>
    <hr> 
    <ul class="nav-options">
        <li> 
            <img class="nav-icon" src="images/settings.png" alt="Settings icon"/>
            <a href="#"> Settings</a>
        </li>
        <li>
            <img class="nav-icon" src="images/logout.png" alt="Log out icon"/>
            <a href ="#">Log out</a>
        </li>
    </ul>
    <div class="user-icon">
        <img src="images/user.png" alt="Admin Icon">
        <span id="user-name">Aodos</span>
    </div>
</nav>